{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% load account_admin_tags %}
{% block title %}Projects{% endblock %}
{% block content %}
    <div class="h1" style="margin-bottom: 30px">
        Managed projects
        {% if user.accountadministrator_set.exists %}
            <span style="margin-left: 15px">{% button type="add" value="New project" url="administrator_create_project" %}</span>
        {% endif %}
    </div>
    {% regroup managed_projects by active as grouped_projects %}
    {% for group in grouped_projects %}
        {% if group.grouper %}
            {% for project in group.list %}
                {% admin_for_account project.account as user_is_admin_for_account %}
                {% if not selected_project or project == selected_project %}
                    {% if user_is_admin_for_account %}
                        <div id="project_edit_button_{{ project.id }}"
                             style="position: relative;
                                    display: inline;
                                    margin-left: 10px">
                            {% url 'administrator_edit_project' project.id as edit_project_url %}
                            {% button type="edit" size="xsmall" style="position: absolute" value="Edit" url=edit_project_url %}
                        </div>
                        {% include 'accounts_and_projects/project.html' with manager_view=False %}
                    {% else %}
                        {% include 'accounts_and_projects/project.html' with manager_view=True %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if not selected_project %}
                <div class="h3">
                    <a onclick="toggle_details(this)"
                       data-toggle="collapse"
                       data-target="#inactives_details"
                       class="pointer"
                       style="text-decoration:none">
                        <span id="inactives_chevron"
                              class="glyphicon {% if selected_project %}glyphicon-chevron-down{% else %}glyphicon-chevron-right{% endif %} pull-left chevron"></span>
                        <span class="label label-danger" style="vertical-align: 15%">Inactive projects</span>
                    </a>
                </div>
                <div style="margin-left:34px">
                    <div id="inactives_details" class="collapse {% if selected_project %}in{% endif %}">
                    {% endif %}
                    {% for project in group.list %}
                        {% if not selected_project or project == selected_project %}
                            {% admin_for_account project.account as user_is_admin_for_account %}
                            {% if user_is_admin_for_account %}
                                <div id="project_edit_button_{{ project.id }}"
                                     style="position: relative;
                                            display: inline;
                                            margin-left: 10px">
                                    {% url 'administrator_edit_project' project.id as edit_project_url %}
                                    {% button type="edit" size="xsmall" style="position: absolute" value="Edit" url=edit_project_url %}
                                </div>
                                {% include 'accounts_and_projects/project.html' with manager_view=False %}
                            {% else %}
                                {% include 'accounts_and_projects/project.html' with manager_view=True %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if not selected_project %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% empty %}
        <h4>You do not have any managed projects</h4>
    {% endfor %}
    <script>
		function add_user_to_project(jquery_event, search_selection, dataset_name)
		{
			let project_id = $(this).data('project-id');
			$(this).typeahead('val', '').focus();
			let complete_callback = ajax_complete_callback('Unable to add user to project');
			$("#project_" + project_id + "_users").load("{% url 'add_user_to_project' %}", {'user_id': search_selection.id, 'project_id': project_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, complete_callback);
		}
		function remove_user_from_project(user_id, project_id)
		{
			let complete_callback = ajax_complete_callback('Unable to remove user from project');
			$("#project_" + project_id + "_users").load("{% url 'remove_user_from_project' %}", {'user_id': user_id, 'project_id': project_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, complete_callback);
		}
		function reset_autocomplete()
		{
			$('.user_search').autocomplete('users', add_user_to_project, {{ users|json_search_base }});
            $('a.label').each(function ()
			{
                let span_to_hide = '#'+$(this).data("hide");
                $(span_to_hide).hide();
            });
		}
		window.addEventListener('load', reset_autocomplete, true);
        {% for project in managed_projects %}
			{% admin_for_account project.account as user_is_admin_for_account %}
			{% if user_is_admin_for_account %}
				let project_active_button_form_{{ project.id }} = $('a[data-target="#project_{{ project.id }}_details"]').next('form');
                if (project_active_button_form_{{ project.id }}.length > 0)
                {
					project_active_button_form_{{ project.id }}.attr('action', '{% url "toggle_active_project" project.id %}');
				}
				let edit_button_{{ project.id }} = document.getElementById('project_edit_button_{{ project.id }}');
				let project_chevron_{{ project.id }} = document.getElementById('project_{{ project.id }}_chevron');
				project_chevron_{{ project.id }}.parentNode.parentNode.insertBefore(edit_button_{{ project.id }}, null);
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}
